.clearfix {
    clear: both;
}

.container {
    padding: 10px 15%;
    
    h3 {
        text-align: center;
        font-size: 30px;
        margin-top: 30px;
        font-weight: 800;
        color: var(--btn);
    }

    p {
        display: block;
        width: 100%;
        padding: 10px 0;
        font-size: 20px;
        text-align: justify;
        font-weight: 400;
        line-height: 27px;
        
        span {
            color: var(--destacados);
        }

        span.red {
            color: var(--ofertas);
        }

        strong {
            font-size: 25px;
        }

        strong, a {
            color: var(--titulos);
            text-decoration: underline;
            font-weight: 600;
        }
    }

    ul li {
        list-style: none;
        margin: 10px 0;
        font-size: 20px;

        a {
            color: var(--titulos);
            font-weight: 600;
            text-decoration: none;
            transition: color .3s ease;

            i {
                color: var(--titulos);
            }
        }

        a:hover {
            color: var(--btn);

            i {
                color: var(--btn);
            }
        }
    }

    img {
        height: 250px;
        display: flex;
        margin: auto;
    }

    .input1 {
        float: left;
        width: 49%;
        font-size: 18px;
    }

    input.input1 {
        height: 40px;
        margin-top: 10px;
        border: none;
        border-radius: 10px;
        padding: 10px;
        background: var(--hover1);
        outline: none;
    }

    .input2 {
        float: none;
    }

    textarea {
        display: block;
        width: 100%;
        max-width: 100%;
        border: none;
        padding: 10px;
        font-size: 18px;
        border-radius: 10px;
        background: var(--hover1);
        outline: none;
        margin-top: 10px;
    }

    button {
        display: flex;
        justify-content: center;    
        align-items: center;
        padding: 10px 60px;
        background-color: var(--titulos);
        color: var(--background);
        border-radius: 50px;
        font-size: 20px;
        font-weight: 600;
        border: none;
        outline: none;
        cursor: pointer;
        margin: auto;
        transition: background-color .3s ease;
    }

    button:hover {
        background-color: var(--btn);
    }
}

footer {
    margin-top: 20px;
}