.container {
    h3 {
        text-align: center;
        font-size: 30px;
        margin-top: 30px;
        font-weight: 800;
        color: var(--btn);
    }

    p {
        display: block;
        width: 100%;
        padding: 10px 15%;
        font-size: 20px;
        text-align: justify;
        font-weight: 400;
        line-height: 27px;
        
        span {
            color: var(--destacados);
        }

        strong {
            font-size: 25px;
        }

        strong, a {
            color: var(--titulos);
            text-decoration: underline;
            font-weight: 600;
        }
    }

    img {
        height: 250px;
        display: flex;
        margin: auto;
    }
}

footer {
    margin-top: 20px;
}