:root {
    --background: #fff;
    --text: #2c2c2c;
    --backgroundSec-Details: #f4f1ea;
    --btn: #005f73;
    --destacados: #d4af37;
    --contraste: #1c1c1c;
    --details: #b8b8b8;
    --border: #4a4a4a;
    --neutro: #faf3e0;
    --unicos: #9ba17b;
    --ofertas: #c0846d;
    --backgroundLig: #fefedc;
    --borders: #6b4423;
    --reseñas: #e2cfc4;
    --titulos: #627c85;
    --hover: #eeeeee;
    --hover1: #ececec;
}