body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left, .right {
    width: 50vw;
    height: 100vh;
}

.left {
    background: linear-gradient(135deg, var(--btn), var(--titulos), var(--unicos));
    border-radius: 20px 60px 60px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;

    h3 {
        color: var(--background);
        font-size: 30px;
    }

    a {
        text-decoration: none;
        padding: 20px 60px;
        border-radius: 50px;
        font-size: 20px;
        background: var(--btn);
        color: var(--background);
        transition: all .3s ease;
    }

    a:hover {
        color: var(--text);
        background: var(--background);
        border: 1px solid var(--text);
    }
}

.right {
    .btnHome {
        position: absolute;
        top: 20px;
        left: 20px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: var(--hover);
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;

        i {
            font-size: 25px;
            color: var(--btn);
        }
    }

    h3 {
        font-size: 30px;
        display: block;
        text-align: center;
        margin: 30px 0 10px 0;
        color: var(--btn);
    }

    label {
        display: block;
        margin: 20px auto;
        position: relative;
        padding: 0 20px 0 20px;

        input {
            display: block;
            margin-top: 10px;
            width: 100%;
            border-radius: 10px;
            height: 50px;
            border: none;
            background: var(--hover);
            padding: 10px;
            font-size: 18px;
            outline: none;
        }
        
        input:focus {
            outline: 2px solid var(--btn);
        }

        input:focus:invalid {
            outline: 2px solid var(--ofertas);
        }
        
        input:user-invalid {
            outline: 2px solid var(--ofertas);
        }

        button {
            position: absolute;
            background: var(--hover);
            border: none;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            right: 30px;
            top: 35px;
        }

        button:hover {
            background: var(--details);
        }
    }

    label.red {
        color: var(--ofertas);
    }

    label:last-of-type {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 10px;
        
        input {
            width: 20px;
            height: 100%;
            padding: 0;
        }

        a {
            height: 100%;
            display: flex;
            justify-content: start;
            align-items: center;
            line-height: 100%;
        }
    }

    button {
        display: flex;
        padding: 10px 50px;
        border-radius: 20px;
        margin: auto;
        background: var(--btn);
        border: 1px solid var(--btn);
        color: var(--background);
        font-size: 20px;
        font-weight: 500;
        transition: all .3s ease;
        cursor: pointer;
    }

    button:hover {
        background: var(--background);
        color: var(--btn);
    }
}

@keyframes anim {
    
}


/* Oculta el checkbox real */
.checkbox-container input[type="checkbox"] {
    display: none;
}

/* Estilos del contenedor personalizado */
.checkbox-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkbox-container .checkmark {
    width: 20px;
    height: 20px;
    background-color: #eee;
    border: 2px solid var(--btn);
    border-radius: 4px; /* Opcional: redondea las esquinas */
    margin-right: 8px;
    display: inline-block;
    position: relative;
}

.checkbox-container .checkmark.red {
    border: 2px solid  var(--ofertas);
}

/* Estilo cuando el checkbox está marcado */
.checkbox-container input[type="checkbox"]:checked + .checkmark {
    background-color: var(--btn);
    border-color: var(--btn);
}

.checkbox-container input[type="checkbox"]:checked + .checkmark.red {
    background-color: var(--ofertas);
    border-color: var(--ofertas);
}

/* Icono de "check" */
.checkbox-container input[type="checkbox"]:checked + .checkmark::after {
    content: "";
    position: absolute;
    left: 4.3px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
