:root {
    --background: #fff;
    --text: #2c2c2c;
    --backgroundSec-Details: #f4f1ea;
    --btn: #005f73;
    --destacados: #d4af37;
    --contraste: #1c1c1c;
    --details: #b8b8b8;
    --border: #4a4a4a;
    --neutro: #faf3e0;
    --unicos: #9ba17b;
    --ofertas: #af0000;
    --backgroundLig: #fefedc;
    --borders: #6b4423;
    --reseñas: #e2cfc4;
    --titulos: #627c85;
    --hover: #eeeeee;
    --hover1: #ececec;
}

::-webkit-scrollbar {
    width: 12px;
    padding: 1px 5px;
}

::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: var(--text);
    border-radius: 20px;
    box-shadow: inset 0 0 5px var(--contraste);
}

::-webkit-scrollbar-thumb:hover {
    background: #3c3c3c;
}

::-webkit-scrollbar-track {
    background: var(--hover);
}

::-webkit-scrollbar-button:vertical:decrement {
    background-color: var(--hover);
    background-image: url(../assets/arrowUp.svg);
    background-size: cover;
    background-position: center;
}

::-webkit-scrollbar-button:vertical:increment {
    background-color: var(--hover);
    background-image: url(../assets/arrowDown.svg);
    background-size: cover;
    background-position: center;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', 'Inter', sans-serif;
    box-sizing: border-box;
    color: var(--text);
}

html {
    margin-top: 0;
    background-color: var(--background);
}

body {
    margin-top: 0;
    width: 100%;
    height: fit-content;
    background: var(--background);
}

nav {
    width: 100%;
    height: 11vh;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid var(--border);
    background-color: var(--background);
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5vw 0 5vw;
}

nav .logo {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    font-size: 35px;
    font-weight: 700;
    text-shadow: 0px 0px 15px var(--text);
    text-decoration: none;
    user-select: none;
}

nav .logo img {
    height: 11vh;
    user-select: none;
}

nav .buscador {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

nav .categoriasTodas {
    width: 220px;
    height: 6vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    color: #000;
    cursor: pointer;
    user-select: none;
    border: 1px solid var(--text);
    transition: all .3s ease;
}

nav .categoriasTodas:hover {
    background-color: var(--hover1);
}

nav .categoriasTodas i {
    font-size: 20px;
}

nav .search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 350px;
    height: 7vh;
    user-select: none;
}

nav .search input {
    border: none;
    border-bottom: 2.5px solid var(--border);
    height: 100%;
    width: 85%;
    padding: 10px 20px;
    outline: none;
    color: var(--text);
    font-weight: 400;
    font-size: 17px;
    font-family: 'Inter', 'Montserrat', sans-serif;
}

nav .search input::placeholder {
    color: var(--text);
}

nav .search input:focus {
    border-bottom-color: var(--btn);
}

nav .search button {
    height: 100%;
    width: 7vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    background: none;
    outline: none;
}

nav .search button:hover {
    background: var(--hover);
}

nav .search button.resetSearch {
    position: absolute;
    height: 6vh;
    width: 6vh;
    font-size: 18px;
    font-weight: 400;
    left: calc(297.5px - 6vh);
    display: none;
}

nav .search button.resetSearch:hover {
    background: var(--background);
}

nav .search button.resetSearch:hover i {
    color: var(--btn);
}

nav .containerBtn {
    min-width: 180px;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .containerBtn button {
    background: none;
    width: 7vh;
    height: 7vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
    user-select: none;
    transition: all .5s ease;
}

nav .containerBtn button:hover {
    background: var(--hover);
}

nav button.shopCart {
    background: none;
    position: relative;
    width: 7vh;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    font-size: 20px;
    user-select: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 7vh;
    color: #000;
    transition: all .5s ease;
}

nav .containerBtn button.shopCart:hover {
    background: var(--hover);
    width: 22vh;
}

nav button.shopCart p {
    display: block;
    position: absolute;
    font-size: 14px;
    top: 0px;
    right: 3px;
    padding: 10px;
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--backgroundSec-Details);
    background: var(--btn);
}

nav button.shopCart::after {
    content: 'Tu cesta';
    text-decoration: none;
    margin-left: 10px;
    display: none;
}

nav button.shopCart:hover::after {
    display: block;
}

nav button.account {
    background: none;
    width: 7vh;
    height: 7vh;
    display: flex;
    user-select: none;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 7vh;
    color: #000;
    transition: all .5s ease;
}

nav .containerBtn button.account:hover {
    background: var(--hover);
    width: 22vh;
}

nav .containerBtn button.account::after {
    content: 'Tu cuenta';
    text-decoration: none;
    margin-left: 10px;
    display: none;
}

nav .containerBtn button.account:hover::after {
    display: block;
}

hr {
    border: none; 
    margin-top: 11vh;
    height: 3px;
    background-color: var(--destacados);
    color: var(--destacados);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    cursor: pointer;
    background-color: #99999994;
}

.overlay.visible {
    z-index: 10;
}

.cesta {
    position: fixed;
    overflow-y: hidden;
    top: 50%;
    width: 900px;
    height: 85vh;
    border-radius: 30px;
    padding: 30px 30px;
    z-index: 11;
    background-color: var(--background);
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    transition: all .3s ease-out;

    h3 {
        text-align: center;
        color: var(--btn);
        font-size: 24px;
        font-weight: 600;
    }

    button {
        background: none;
        border: none;
        outline: none;
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 24px;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }

    button:hover {
        background: var(--hover1);
    }

    ul {
        width: 100%;
        max-height: 95%;
        padding: 10px;

        li {
            width: 100%;
            height: 7vh;
            border-radius: 13px;
            overflow: hidden;
            background-color: var(--hover);
        }
    }
}

.cesta.visible {
    display: block;
}

aside {
    position: fixed;
    overflow-y: auto;
    top: 0;
    left: -350px;
    width: 350px;
    height: 100vh;
    padding: 30px 10px;
    z-index: 11;
    background-color: var(--background);
    transition: all .3s ease-out;
}

aside.visible {
    left: 0;
}

aside button {
    background: none;
    border: none;
    outline: none;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 24px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

aside button:hover {
    background: var(--hover1);
}

aside h2 {
    padding-left: 30px;
    font-family: 'Montserrat';
    letter-spacing: 3px;
    font-weight: 700;
    font-size: 30px;
    color: var(--btn);
    border-left: 10px solid var(--borders)
}

aside ul {
    height: 100%;
    width: 100%;
    display: flex; 
    justify-content: center; 
    align-items: center;
    flex-direction: column; 
    row-gap: 30px;
    padding: 30px 0;
}

aside ul li {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
    padding: 10px;
    font-size: 17px;
    font-weight: 400;
    cursor: pointer;
    transition: font-weight .2s ease; 
}

aside ul li:hover {
    font-weight: 500;
    border-bottom: 3px solid var(--btn);
}

.container {
    width: 100%;
    min-height: calc(89vh - 3px);
    background: var(--background);
    z-index: 1;
}

.sectionContainer {
    position: relative;
}

.sectionContainer button {
    position: absolute;
    width: 50px;
    height: 50px;
    background: var(--background);
    border: 1px solid var(--border);
    border-radius: 5px;
    z-index: 1;
    top: calc(50% - 40px);
    cursor: pointer;
    transition: all .3s ease;
}

.sectionContainer button:hover {
    background-color: var(--hover1);
    border-color: var(--btn);
}

.sectionContainer button.btnLeft.hidden {
    display: none;
}

.sectionContainer button.btnLeft{
    left: 10px;
}

.sectionContainer button.btnRight {
    right: 10px;
}

section {
    margin-top: 30px;
    min-width: 100%;
    position: relative;
    height: 350px;
    overflow-x: auto; /* Habilitar scroll horizontal */
    display: flex;
    justify-content: space-evenly;
    scroll-behavior: smooth; /* Hacer el scroll suave */
    gap: 10px; /* Espacio entre cajas */
    padding: 5px 30px;
}

section::-webkit-scrollbar {
    display: none;
}

section::-webkit-scrollbar-button:increment {
    background-color: var(--hover);
    background-image: url(../assets/arrowUp.svg);
    background-size: cover;
    background-position: center;
}

section::-webkit-scrollbar-button:decrement {
    background-color: var(--hover);
    background-image: url(../assets/arrowDown.svg);
    background-size: cover;
    background-position: center;
}

h1 {
    display: flex;
    padding: 30px 20px 0 20px;
    font-size: 30px;
    font-weight: 600;
    color: var(--titulos);
}

.box {
    width: 250px;
    min-width: 250px;
    height: 310px;
    float: left;
    overflow: visible;
    position: relative;
    border: 1px solid var(--border);
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    transition: box-shadow .3s ease;
}

.box:hover {
    box-shadow: 0px 0px 20px var(--details),
    10px 10px 20px var(--destacados)
}

.img {
    width: 160px;
    height: 160px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.box:hover img {
    scale: 1;
}

.img img {
    max-width: 100%;
    height: 100%;
    scale: 0.8;
    content-visibility: auto;
    transition: scale .5s ease-out;
}

.box h2 {
    display: block;
    height: 72px;
    max-height: 72px;
    font-size: 18px;
    font-weight: 500;
    padding-top: 10px;
}

.box h3 {
    display: inline-block;
    margin: 10px 0 0 0;
    font-weight: 600;
    color: var(--btn);
}

.box h3::before {
    content: 'PRECIO: ';
    font-weight: 400;
    color: var(--text);
}

.box:hover h3 {
    color: var(--titulos);
}

.ofertas .box h3 {
    text-decoration:line-through;
    color: var(--border);
}

.ofertas .box h3::before {
    text-decoration: none;
}

.box h4 {
    display: inline-block;
    line-height: 20px;
    color: var(--btn);
    font-size: 18px;
}

.categoriasGal {
    height: 270px;
}

.box.boxCat {
    border: none;
    min-width: 100px;
    height: 220px;
    text-align: center;
}

.boxCat .img {
    font-size: 40px;
    transition: all .3s ease;
    background: linear-gradient(135deg, var(--destacados), var(--reseñas), var(--btn));
}

.box.boxCat:hover {
    box-shadow: none;

    .img {
        box-shadow: 0px 0px 20px var(--destacados);
        font-size: 50px;
    }
}

.boxCat h4 {
    padding: 10px 0;
}

.box span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    font-size: 14px;
    color: var(--background);
    font-weight: 600;
    background: var(--ofertas);
    position: absolute;
    border-radius: 10px;
    top: -5px;
    left: -5px;
}

.anuncio {
    width: 85vw;
    height: 150px;
    display: flex;
    background: var(--hover);
    margin: 0px auto 30px auto;
}

footer {
    height: 400px;
    width: 100%;
    border-top: 5px solid var(--destacados);
    background: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-direction: row;
}

footer ul {
    min-width: fit-content;
    height: 350px;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    gap: 20px;
    flex-direction: column;
    overflow: hidden;

    h3 {
        color: var(--titulos);
        font-size: 20px;
        font-family: 'Inter';
        font-weight: 800;
        letter-spacing: 2px;
    }
}

footer ul li {
    list-style: none;
    width: 100%;
    text-decoration: none;
    font-size: 17px;
    font-weight: 400;
    transition: all .3s ease;
    
    a {
        width: 100%;
    }

    a,i {
        text-decoration: none;
        transition: all .3s ease;
    }

    a:hover {
        color: var(--btn);
        font-weight: 500;

        i {
            color: var(--destacados);
        }
    }
}

footer ul.footer__ul--1 {
    flex-shrink: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*!! PADDING */

/*!! FONT */

/*!! DARK MODE */