:root {
    --background: #fff;
    --text: #2c2c2c;
    --backgroundSec-Details: #f4f1ea;
    --btn: #005f73;
    --destacados: #d4af37;
    --contraste: #1c1c1c;
    --details: #b8b8b8;
    --border: #4a4a4a;
    --neutro: #faf3e0;
    --unicos: #9ba17b;
    --ofertas: #af0000;
    --backgroundLig: #fefedc;
    --borders: #6b4423;
    --reseñas: #e2cfc4;
    --titulos: #627c85;
    --hover: #eeeeee;
    --hover1: #ececec;
}

::-webkit-scrollbar {
    width: 12px;
    padding: 1px 5px;
}

::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: var(--text);
    border-radius: 20px;
    box-shadow: inset 0 0 5px var(--contraste);
}

::-webkit-scrollbar-thumb:hover {
    background: #3c3c3c;
}

::-webkit-scrollbar-track {
    background: var(--hover);
}

::-webkit-scrollbar-button:vertical:decrement {
    background-color: var(--hover);
    background-image: url(../assets/arrowUp.svg);
    background-size: cover;
    background-position: center;
}

::-webkit-scrollbar-button:vertical:increment {
    background-color: var(--hover);
    background-image: url(../assets/arrowDown.svg);
    background-size: cover;
    background-position: center;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', 'Inter', arial, helvetica, sans-serif;
    box-sizing: border-box;
    color: var(--text);
}

html {
    margin-top: 0;
    background-color: var(--background);
}

body {
    margin-top: 0;
    width: 100%;
    overflow-x: hidden;
    height: fit-content;
    background: var(--background);
}

nav {
    width: 100%;
    height: 11vh;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid var(--border);
    background-color: var(--background);
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5vw 0 5vw;

    .logo {
        width: fit-content;
        height: fit-content;
        display: flex;
        align-items: center;
        font-size: 35px;
        font-weight: 700;
        text-shadow: 0px 0px 15px var(--text);
        text-decoration: none;
        user-select: none;
    
        img {
            height: 11vh;
            user-select: none;
        }
    }

    .buscador {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }

    .categoriasTodas {
        width: 220px;
        height: 6vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: auto;
        color: #000;
        cursor: pointer;
        user-select: none;
        border: 1px solid var(--text);
        transition: all .3s ease;

        i {
            font-size: 20px;
        }
    }

    .categoriasTodas:hover {
        background-color: var(--hover1);
    }

    .search {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        width: 350px;
        height: 7vh;
        user-select: none;

        input {
            border: none;
            border-bottom: 2.5px solid var(--border);
            height: 100%;
            width: 85%;
            padding: 10px 20px;
            outline: none;
            color: var(--text);
            font-weight: 400;
            font-size: 17px;
            font-family: 'Inter', 'Montserrat', sans-serif;
        }

        input::placeholder {
            color: var(--text);
        }

        input:focus {
            border-bottom-color: var(--btn);
        }

        button {
            height: 100%;
            width: 7vh;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            cursor: pointer;
            background: none;
            outline: none;
        }

        button:hover {
            background: var(--hover);
        }

        button.resetSearch {
            position: absolute;
            height: 6vh;
            width: 6vh;
            font-size: 18px;
            font-weight: 400;
            left: calc(297.5px - 6vh);
            display: none;
        }

        button.resetSearch:hover {
            background: var(--background);

            i {
                color: var(--btn);
            }
        }
    }

    .containerBtn {
        min-width: 180px;
        height: 7vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        button {
            background: none;
            width: 7vh;
            height: 7vh;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            outline: none;
            font-size: 20px;
            cursor: pointer;
            border-radius: 50%;
            user-select: none;
            transition: all .5s ease;
        }

        button:hover {
            background-color: var(--hover);
        }

        button.shopCart, button.account {
            text-decoration: none;
            border-radius: 1vh;
            width: 22vh;
            color: #000;

            p {
                display: block;
                position: absolute;
                font-size: 14px;
                top: 0px;
                right: 3px;
                padding: 10px;
                width: 10px;
                height: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                color: var(--backgroundSec-Details);
                background: var(--btn);
            }
        }

        button.shopCart:hover, button.account:hover {
            background: var(--hover);
            width: 22vh;
        }

        button.shopCart::after, button.account::after {
            content: 'Tu cesta';
            text-decoration: none;
            margin-left: 10px;
        }
        
        button.account::after {
            content: 'Tu cuenta';
        }
    }
}

hr {
    border: none; 
    margin-top: 11vh;
    height: 3px;
    background-color: var(--destacados);
    color: var(--destacados);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    cursor: pointer;
    background-color: #99999994;
}

.overlay.visible {
    z-index: 10;
}

.overlayDiv {
    position: fixed;
    overflow-y: hidden;
    top: 50%;
    width: 900px;
    height: 85vh;
    border-radius: 30px;
    padding: 30px 30px;
    z-index: 11;
    background-color: var(--background);
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    transition: all .3s ease-out;
}

.overlayDiv.visible {
    display: block;
}

.overlayDiv {

    h3 {
        text-align: center;
        color: var(--btn);
        font-size: 24px;
        font-weight: 600;
        padding: 10px 20%;
    }

    button {
        background: none;
        border: none;
        outline: none;
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 24px;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }

    button:hover {
        background: var(--hover1);
    }

    ul {
        width: 100%;
        max-height: 95%;
        padding: 30px 10px;

        li {
            width: 100%;
            height: 60px;
            border-radius: 13px;
            overflow: hidden;
            position: relative;
            display: flex;
            justify-content: space-around;
            align-items: center;
            cursor: pointer;

            img {
                height: 48px;
            }

            h4 {
                display: block;
                width: 40%;
                max-width: 40%;
            }

            h4, h5 {
                font-size: 20px;
                font-weight: 400;
            }

            span {
                height: 48px;
                width: 48px;
                padding: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                opacity: 0;
                transition: .3s all ease;

                img {
                    width: 70%;
                }
            }
            
            span:hover {
                background-color: var(--reseñas);
            }
        }

        li:hover {
            background-color: var(--hover);

            span {
                opacity: 1;
            }
        }
    }

    #noCuenta {
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 300px;
            height: 60px;
            font-size: 25px;
            text-decoration: none;
            border-radius: 15px;
            margin: 10px auto;
            cursor: pointer;
            transition: all .3s ease;
        }
        
        a:nth-of-type(2) {
            background: var(--text);
            color: var(--background);
            border: 1px solid var(--text);
        }

        a:nth-of-type(2):hover {
            background: var(--background);
            color: var(--text);
        }

        a:nth-of-type(1) {
            background: var(--background);
            color: var(--text);
            border: 1px solid var(--text);
        }

        a:nth-of-type(1):hover {
            background: var(--text);
            color: var(--background);
        }
    }
}

.perfil {
    h4 {
        font-size: 25px;
        font-weight: 500;
        text-align: center;
    }

    h5 {
        font-size: 25px;
        margin: 10px 0;
        color: var(--btn);
    }

    h4 + h5 {
        margin-top: 30px;
    }

    p {
        font-size: 22px;
    }

    button.cerrarSesion {
        top: 85%;
        left: 50%;
        transform: translateX(-50%);
        width: fit-content;
        height: fit-content;
        padding: 10px 40px;
        font-size: 20px;
        border-radius: 30px;
        background-color: var(--contraste);
        color: var(--background);
        transition: all .3s ease;
    }

    button.cerrarSesion:hover {
        background: var(--ofertas);
    }
}

.overlayProduct {
    width: 100px;
    height: 100px;
    display: block;
    z-index: -1;
    overflow: hidden;

    img {
        height: 250px;
        display: flex;
        margin: auto;
    }

    .productH {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
        
        h2 {
            width: 80%;
        }

        h3 {
            width: fit-content;
            text-align: initial;
            padding: 0;
        }

        h4 {
            display: none;
        }
    }

    span {
        display: none;
    }

    p {
        font-size: 20px;
        font-weight: 300;
        text-wrap: balance;
        margin: 30px 0 10px 0;
    }

    button.addCesta {
        position: static;
        margin: 0;
        top: 0;
        left: 0;
        width: fit-content;
    }

    button.addCesta::after {
        content: 'Añadir a la cesta';
        margin-left: 10px;
    }

    button.addCesta:hover {
        background: var(--background);
        color: var(--btn);

        i {
            color: var(--btn);
        }
    }
}

.overlayProduct.oferta {
    .productH {
        h3 {
            color: var(--border);
            text-decoration: line-through;
        }

        h4 {
            display: initial;
            color: var(--btn);
            font-size: 24px;
            padding-left: 10px;
        }
    }
    
    span {
        display: flex;
        position: absolute;
        top: 30px;
        left: 30px;
        font-weight: 500;
        background: var(--ofertas);
        color: var(--background);
        padding: 5px 10px;
        border-radius: 6px;
    }
}

.overlayProduct.visible {
    width: 800px;
    height: 500px;
    z-index: 50;
}

aside {
    position: fixed;
    overflow-y: auto;
    top: 0;
    left: -350px;
    width: 350px;
    height: 100vh;
    padding: 30px 10px;
    z-index: 11;
    background-color: var(--background);
    transition: all .3s ease-out;

    button {
        background: none;
        border: none;
        outline: none;
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 24px;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }

    button:hover {
        background: var(--hover1);
    }

    h2 {
        padding-left: 30px;
        font-family: 'Montserrat';
        letter-spacing: 3px;
        font-weight: 700;
        font-size: 30px;
        color: var(--btn);
        border-left: 10px solid var(--borders)
    }

    ul {
        height: 100%;
        width: 100%;
        display: flex; 
        justify-content: start; 
        align-items: center;
        flex-direction: column; 
        row-gap: 30px;
        padding: 30px 0;

        li {
            height: 40px;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            gap: 20px;
            align-items: center;
            padding: 10px;
            font-size: 17px;
            font-weight: 400;
            cursor: pointer;
            transition: font-weight .2s ease;

            a {
                all: inherit;
            }
        }

        li:hover {
            font-weight: 500;
            color: var(--btn);
        }
    }
}

aside.visible {
    left: 0;
}

.container {
    width: 100%;
    min-height: calc(89vh - 3px);
    background: var(--background);
    z-index: 1;
}

.sectionContainer {
    position: relative;
}

.sectionContainer button {
    position: absolute;
    width: 50px;
    height: 50px;
    background: var(--background);
    border: 1px solid var(--border);
    border-radius: 5px;
    z-index: 1;
    top: calc(50% - 40px);
    cursor: pointer;
    transition: all .3s ease;
}

.sectionContainer button:hover {
    background-color: var(--hover1);
    border-color: var(--btn);
}

.sectionContainer button.btnLeft.hidden {
    display: none;
}

.sectionContainer button.btnLeft{
    left: 10px;
}

.sectionContainer button.btnRight {
    right: 10px;
}

section {
    margin-top: 30px;
    min-width: 100%;
    position: relative;
    height: 350px;
    overflow-x: auto; /* Habilitar scroll horizontal */
    display: flex;
    justify-content: space-evenly;
    scroll-behavior: smooth; /* Hacer el scroll suave */
    gap: 10px; /* Espacio entre cajas */
    padding: 5px 30px;
}

section::-webkit-scrollbar {
    display: none;
}

section::-webkit-scrollbar-button:increment {
    background-color: var(--hover);
    background-image: url(../assets/arrowUp.svg);
    background-size: cover;
    background-position: center;
}

section::-webkit-scrollbar-button:decrement {
    background-color: var(--hover);
    background-image: url(../assets/arrowDown.svg);
    background-size: cover;
    background-position: center;
}

h1 {
    display: flex;
    padding: 30px 20px 0 20px;
    font-size: 30px;
    font-weight: 600;
    color: var(--titulos);
}

.box {
    width: 250px;
    min-width: 250px;
    height: 310px;
    float: left;
    overflow: visible;
    position: relative;
    border: 1px solid var(--border);
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    transition: box-shadow .3s ease;
}

.box a {
    text-decoration: none;
}

.box:hover {
    box-shadow: 0px 0px 20px var(--details),
    10px 10px 20px var(--destacados)
}

.img {
    width: 160px;
    height: 160px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.box:hover img {
    scale: 1;
}

.img img {
    max-width: 100%;
    height: 100%;
    scale: 0.8;
    content-visibility: auto;
    transition: scale .5s ease-out;
}

.box h2 {
    display: block;
    height: 72px;
    max-height: 72px;
    font-size: 18px;
    font-weight: 500;
    padding-top: 10px;
}

.box h3 {
    display: inline-block;
    margin: 10px 0 0 0;
    font-weight: 600;
    color: var(--btn);
}

.box h3::before {
    content: 'PRECIO: ';
    font-weight: 400;
    color: var(--text);
}

.box:hover h3 {
    color: var(--titulos);
}

.box.oferta h3 {
    text-decoration:line-through;
    color: var(--border);
    margin-right: 0;
}

.box h4 {
    display: inline-block;
    line-height: 20px;
    color: var(--btn);
    font-size: 18px;
    margin-left: 5px;
}

.categoriasGal, .reseñas {
    height: 270px;
}

.box.boxCat, .box.boxRes {
    border: none;
    min-width: 100px;
    height: 220px;
    text-align: center;
}

.boxCat .img {
    font-size: 40px;
    transition: all .3s ease;
    background: linear-gradient(135deg, var(--destacados), var(--reseñas), var(--btn));
}

.box.boxCat:hover {
    box-shadow: none;

    .img {
        box-shadow: 0px 0px 20px var(--destacados);
        font-size: 50px;
    }
}

.boxCat h4 {
    padding: 10px 0;
}

.box span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    font-size: 14px;
    color: var(--background);
    font-weight: 600;
    background: var(--ofertas);
    position: absolute;
    border-radius: 10px;
    top: -5px;
    left: -5px;
}

.box.boxRes {
    min-width: 250px;
    border: 1px solid var(--text);

    .perfil {
        height: 30px;
        width: 100%;
        display: flex;
        justify-content: start;
        gap: 10px;
        align-items: center;
        padding: 10px 10px;

        img {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            background: var(--text);
        }
        
        h2 {
            padding: 0;
            width: 150px;
            height: 30px;
            font-size: 19px;
            display: -webkit-box;            /* Necesario para el truncado de múltiples líneas */
            -webkit-box-orient: vertical;    /* Orientación en caja vertical */
            overflow: hidden;                /* Oculta el texto excedente */
            text-overflow: ellipsis;         /* Muestra los puntos suspensivos */
            max-height: 4.5em;               /* Altura máxima según el número de líneas */    
        }
    }

    .star {
        height: 30px;

        i{
            color: var(--border);
            transition: color .3s ease;
        }
    }

    .content {
        margin-top: 10px;
        max-height: 125px;
        text-align: left;
        font-size: 18px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.box.boxRes:hover {
    .star i {
        color: var(--destacados);
    }
}

.anuncio {
    width: 85vw;
    height: 150px;
    display: flex;
    background: var(--hover);
    margin: 0px auto 30px auto;
}

footer {
    height: 400px;
    width: 100%;
    border-top: 5px solid var(--destacados);
    background: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-direction: row;

    ul {
        min-width: fit-content;
        height: 350px;
        display: flex;
        justify-content: flex-start;
        align-items: start;
        gap: 20px;
        flex-direction: column;
        overflow: hidden;

        h3 {
            color: var(--titulos);
            font-size: 20px;
            font-family: 'Inter';
            font-weight: 800;
            letter-spacing: 2px;
        }

        nav {
            all: unset;
            min-width: fit-content;
            height: 350px;
            display: flex;
            justify-content: flex-start;
            align-items: start;
            gap: 20px;
            flex-direction: column;
            overflow: hidden;
        }

        li {
            list-style: none;
            width: 100%;
            text-decoration: none;
            font-size: 17px;
            font-weight: 400;
            transition: all .3s ease;
            
            a {
                width: 100%;
            }

            a,i {
                text-decoration: none;
                transition: all .3s ease;
            }

            i {
                margin-right: 5px;
            }

            a:hover {
                color: var(--btn);
                font-weight: 500;

                i {
                    color: var(--destacados);
                }
            }
        }
    }

    ul.footer__ul--1 {
        flex-shrink: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.btnBars {
    display: none;
}

.logoImg.grande {
    display: flex;
}

.logoImg.pequeno {
    display: none;
}

@media (max-width: 1100px) {
    html {
        max-width: 100vw;
        width: 100vw;
        min-width: 100vw;
        overflow-x: hidden;
    }

    body {
        max-width: 100vw;
        width: 100vw;
        min-width: 100vw;
        overflow-x: hidden;
    }

    .overlay {
        max-width: 100vw;
        height: 100%;
    }

    nav {
        padding: 0 20px;
        max-width: 100vw;
        overflow-x: hidden;
        display: grid;
        grid-template-columns: 1fr 1fr 3fr 2fr;

        .logo {
            margin: 0;
            padding: 0;
            
            img {
                height: 6vh;
            }
        }

        .logoImg.grande {
            display: none;
        }

        .logoImg.pequeno {
            display: flex;
        }

        .categoriasTodas {
            display: none;
        }

        .search {
            width: 47vw;
        }

        .containerBtn {
            margin: 0;
            padding: 0;
            min-width: 100px;
            width: 100%;
            flex-wrap: nowrap;
            gap: 0;
            justify-content: space-evenly;

            button.theme {
                display: none;
            }

            button.shopCart, button.account {
                border-radius: 50%;
                width: 7vh;
            }

            button.shopCart::after, button.account::after {
                display: none;
            }

            button.shopCart:hover, button.account:hover {
                width: 7vh;
            }
        }
        .btnBars {
            display: flex;
            background: none;
            border: none;
            font-size: 30px;
            margin-right: 5px;
        }
    }

    aside {
        left: -100vw;
        width: 100vw;
    }

    .overlayDiv, .overlayDiv.overlayProduct {
        width: 90vw;
        height: 85vh;

        h3 {
            font-size: 20px;
        }

        h4 {
            font-size: 20px;
        }

        h5 {
            font-size: 20px;
            padding: 20px 0 5px 0 ;
        }

        p {
            font-size: 1.1rem;
        }
    }

    .overlayDiv.overlayProduct{
        h2 {
            font-size: 23px;
        }

        p {
            font-size: 20px;
            font-weight: 400;
        }
    }

    .categoriasGal, .reseñas {
        flex-wrap: wrap;
        height: fit-content;
    }

    footer {
        display: flex ;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 5px;
        padding: 0 10px;

        ul {
            position: relative;
            width: 100%;
            height: 8vh;
            border-bottom: 1px solid var(--border);

            h3 {
                line-height: 8vh;
            }
            
            nav {
                height: 1px;
            }
        }

        ul::before {
            position: absolute;
            top: 2vh;
            height: 4vh;
            width: 4vh;
            content: '';
        }
    }
}

@media (max-width: 1150px) and (min-width: 701px) {
    nav {
        grid-template-columns: 0.5fr 1fr 2fr 2fr;
        .logoImg.grande {
            display: block;
        }
        .logoImg.pequeno {
            display: none;
        }

        button.shopCart, button.account {
            border-radius: 0;
        }

        button.shopCart::after, button.account::after {
            display: none;
        }

        button.shopCart:hover, button.account:hover {
            width: 7vh;
        }
    }

    aside {
        left: -350px;
        width: 350px;
    }
}