@import url(root.css);

::-webkit-scrollbar {
    width: 10px;
    padding: 1px 5px;
}

::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: var(--text);
    border-radius: 20px;
    box-shadow: inset 0 0 5px var(--contraste);
}

::-webkit-scrollbar-thumb:hover {
    background: #3c3c3c;
}

::-webkit-scrollbar-track {
    background: var(--hover);
}

::-webkit-scrollbar-button:vertical:decrement {
    background-color: var(--hover);
    background-image: url(../assets/arrowUp.svg);
    background-size: cover;
    background-position: center;
}

::-webkit-scrollbar-button:vertical:increment {
    background-color: var(--hover);
    background-image: url(../assets/arrowDown.svg);
    background-size: cover;
    background-position: center;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', 'Inter', sans-serif;
    box-sizing: border-box;
    color: var(--text);
}

body {
    width: 100%;
    height: 100vh;
    background: var(--background);
}

header {
    width: 100%;
    height: 11vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background);
    z-index: 50;
}

header .logo {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    font-size: 35px;
    font-weight: 700;
    text-shadow: 0px 0px 15px var(--text);
    text-decoration: none;
    user-select: none;
}

header .logo img {
    height: 12vh;
    user-select: none;
}

nav {
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 11vh;
    left: 0;
    border-bottom: 1px solid var(--border);
    background-color: var(--background);
    z-index: 50;
}

.containerGrid {
    width: 100%;
    margin-top: 21vh;
    display: grid;
    grid-template-columns: auto 1fr;
}

aside {
    width: 250px;
    position: relative;
    overflow-x: hidden;
    border-right: 1px solid var(--border)
}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap ;
    align-items: flex-start;
    row-gap: 30px;
    padding: 20px 0;
}

.box {
    width: 250px;
    height: 300px;
    overflow: hidden;
    border: 1px solid var(--border);
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    transition: box-shadow .3s ease;
}

.box:hover {
    box-shadow: 0px 0px 20px var(--details),
    10px 10px 20px var(--destacados)
}

.img {
    height: 160px;
    max-width: 160px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.box:hover img {
    scale: 1;
}

.img img {
    width: 100%;
    height: 100%;
    scale: 0.8;
    transition: scale .5s ease-out;
}

h2 {
    display: block;
    height: 72px;
    max-height: 72px;
    font-size: 18px;
    font-weight: 500;
    padding-top: 10px;
}

h3 {
    display: block;
    margin-top: 10px;
    font-weight: 600;
    color: var(--btn);
}

h3::before {
    content: 'COMPRAR: ';
    color: var(--text);
    font-weight: 500;
}

.box:hover h3 {
    text-decoration: underline;
}
